[user]
	name = Mohammad AbuShady
	email = mohammad@abushady.com
[merge]
	tool = meld
[diff]
	tool = meld
[core]
	excludesfile = /home/mohammad/.gitignore
[push]
	default = simple
[rerere]
	enabled = false
[github]
	user = coalwater
[help]
	autocorrect = -1
[log]
	decorate = auto
